Source: artifex
Section: devel
Priority: optional
Maintainer: Kristoffer Grönlund <kristoffer.gronlund@purplescout.se>
Build-Depends: debhelper (>> 7), python-support (>= 0.8)
XS-Python-Version: >=2.5
Standards-Version: 3.8.3

Package: artifex
Architecture: all
Homepage: http://github.com/krig/
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}
Description: A build tool for C/C++ projects
 A minimal build tool, currently only for C/C++ projects.
 For an example of a build script using artifex, see 
 examples/loverly.mk

